@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: #84cc16; /* lime-500 in tailwind */
  font-family: monospace;
  font-weight: bold;
}

pre {
  line-height: 1.25;
}
